.text{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #000000;
}

input{
    width: 108px;
    height: 108px;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    box-sizing: border-box;


    width: 646px;
    height: 891px;
    left: 397px;
    top: 66px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(180deg, rgba(223, 239, 254, 0) 0%, #DCEEFF 100%);
    border: 2px solid #000000;
    filter: drop-shadow(8px 12px 15px rgba(0, 0, 0, 0.25));

}

#author{

    width: 551px;
    height: 63px;

}

#result{
    font-size: 60px;
    padding: 12px;
}

#display{

    display: flex;
    justify-content: end;
    align-items: center;

    width: 565px;
    height: 116px;


    background: #C4C4C4;
    border: 1px solid #000000;
    box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);

}

.op-butt, .num-butt{

    text-shadow: 2px 2px 2px #5E5E5E;

    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-align: center;

}

.op-butt{

    box-sizing: border-box;

    background: #97B4FF;
    color: #6f84b9;
    border: 1px solid #000000;
    
}

.num-butt{

    box-sizing: border-box;

    background: #97CCFF;
    color: #81afda;
    border: 1px solid #000000; 



}

.num-butt:hover, .op-butt:hover{
    filter: brightness(95%);
}

.num-butt:active, .op-butt:active{
    filter: brightness(80%);
}

.buttns{
    display: grid;
    grid-template-rows: repeat(4,1fr);

    grid-row-gap: 6px;
    grid-column-gap: 6px;
    width: fit-content;
}

.long-butt{
    grid-column: 2;
    grid-row: 3 / span 2;

    height: initial;
}

.buttns-container{
    display: flex;
    flex-flow: row nowrap;

    gap: 12px;
}

#numbers{
    grid-template-columns: repeat(3,1fr);
}

#operators{
    grid-template-columns: repeat(2,1fr);
}