p{
    font-family: 'Exo';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;

    color: #000000;
}

input{
    width: 108px;
    height: 108px;

}

body{
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    box-sizing: border-box;


    width: 646px;
    height: 891px;
    left: 397px;
    top: 66px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;

    background: linear-gradient(180deg, rgba(223, 239, 254, 0) 0%, #DCEEFF 100%);
    border: 2px solid #000000;
    filter: drop-shadow(8px 12px 15px rgba(0, 0, 0, 0.25));

}

#author{

    width: 551px;
    height: 63px;

}

#display{

    width: 565px;
    height: 116px;


    background: #C4C4C4;
    border: 1px solid #000000;
    box-shadow: inset 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.op-butt{
    background: #97B4FF;
    border: 1px solid #000000;
}

.buttns{
    display: grid;
    grid-template-rows: repeat(4,1fr);

    grid-row-gap: 6px;
    grid-column-gap: 6px;
    width: fit-content;
}

.long-butt{
    grid-column: 2;
    grid-row: 3 / span 2;

    height: initial;
}

.buttns-container{
    display: flex;
    flex-flow: row nowrap;

    gap: 12px;
}

#numbers{
    grid-template-columns: repeat(3,1fr);
}

#operators{
    grid-template-columns: repeat(2,1fr);
}